* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(255, 255, 255);
  font-family: "Itim", cursive;
  font-family: "Roboto Slab", serif;
}

.header {
  /* margin-top: 1%; */
  background-color: white;
  padding: 20px;
  position: fixed;
  width: 98%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
}
.header li {
  list-style-type: none;
}
.profile {
  /* margin: 0px 10px; */

  color: black;
  font-weight: bold;
  font-size: 18px;
  display: inline;
  /* padding: 15px; */
}
.profile p a {
  text-decoration: none;
  color: rgb(241, 79, 38);
  display: inline;
}

.social {
  align-items: center;
  justify-content: center;
  display: flex;
}
.icons {
  display: flex;
}
.social li i a {
  list-style-type: none;
  color: black;
  padding: 0px 30px;
  text-decoration: none;
  font-size: 30px;
  /* margin: 0px auto; */
}
/* .social li {
  margin: 0px 25px;
} */

.nav {
  display: flex;
  align-items: flex-start;
  padding-right: 5%;
  /* justify-content: end; */
}
.nav a {
  color: black;
  /* padding: 15px 30px; */
  text-decoration: none;
  font-size: 15px;
}

@media only screen and (max-width: 768px) {
  .nav {
    order: 2;
  }
  .profile {
    order: 1;
  }
  .social {
    padding: 15px;
    flex: 1 1 0;
    order: 3;
  }
  .nav a {
    font-size: 15px;
  }
  .profile {
    font-size: 20px;
  }
  .header li {
    margin: 0px auto;
  }
  .header {
    width: 80%;
  }
}

/* first section complete */

.home {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.writing {
  padding-left: 10%;
  display: flex;

  font-size: 50px;
  flex: 60%;
  justify-content: right;
}
.image {
  display: flex;
  justify-content: center;
}
.image img {
  width: 70%;
}
.writing span {
  color: rgb(241, 79, 38);
}
.hello {
  font-size: 43px;
}
.home p {
  font-size: 30px;
  color: grey;
}
@media only screen and (max-width: 768px) {
  .writing {
    flex: 80%;
    order: 2;
    padding-left: 20px;
    font-size: 30px;
  }
  .home p {
    font-size: 25px;
  }
  .hello {
    font-size: 20px;
  }
  .home {
    padding-top: 20%;
    flex-wrap: wrap;
  }
  .image {
    flex: 40%;
  }
  .image img {
    width: 75%;
  }
}
/* -------------------------------------------------------- */
.skillshead {
  padding-top: 7%;
  color: black;
  font-size: 25px;
  /* padding-top: 5%; */
  text-align: center;
}
.conhead {
  text-align: center;
  font-size: 30px;
  padding-top: 10%;
}
.linebreak {
  display: block;
  font-weight: bolder;
  font-size: 15px;

  text-align: center;

  padding: 1%;
}
.conbox {
  display: flex;
  justify-content: center;
}
.conmain {
  font-weight: bold;
  border: 2px solid gray;
  width: 70%;
  box-shadow: 10px 10px gray;
  z-index: 1;
}
.call {
  justify-content: center;
  display: flex;
  font-size: 30px;
}
.call p {
  padding: 15px;
}
.call a {
  padding: 15px;
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.call img {
  padding: 10px 0px;
  width: 3%;
  height: 3%;
}
.mail {
  font-size: 30px;
  display: flex;
  justify-content: center;
}
.mail img {
  padding: 10px 0px;
  width: 3%;
  height: 3%;
}
.mail p {
  padding: 15px;
}
.mail a {
  padding: 15px;
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.hash {
  font-size: 30px;
  display: flex;
  justify-content: center;
}
.hash img {
  padding: 10px 0px;
  width: 3%;
  height: 3%;
}
.hash p {
  padding: 15px;
}
.social li {
  padding: 5% 0%;
  list-style-type: none;
}
.cont {
  padding: 10% 0%;
}
@media only screen and (max-width: 768px) {
  .skillshead {
    font-size: 20px;
    padding-top: 25%;
  }
  .conhead {
    font-size: 20px;
  }
  .linebreak {
    font-size: 5px;
  }

  .conmain {
    border: 1px solid gray;
    width: 80%;
    box-shadow: 5px 5px gray;
    z-index: 1;
  }
  .call {
    text-align: center;
    font-size: 15px;
    display: block;
  }
  .call p {
    padding: 5px;
  }
  .call a {
    padding: 5px;

    font-size: 15px;
  }

  /* .call img {
    padding: 10px 0px;
    width: 3%;
    height: 3%;
  } */
  .mail {
    text-align: center;
    display: block;
    font-size: 15px;
  }
  .mail img {
    padding: 10px 0px;
    width: 3%;
    height: 3%;
  }
  .mail p {
    padding: 5px;
  }
  .mail a {
    padding: 5px;

    font-size: 15px;
  }

  .hash {
    display: block;
    text-align: center;
    font-size: 15px;
  }
  .hash img {
    padding: 10px 0px;
    width: 3%;
    height: 3%;
  }
  .hash p {
    padding: 5px;
  }
  .social li {
    padding: 0% 0%;
    list-style-type: none;
  }
  .cont {
    padding: 5% 0%;
  }
  .social li i {
    font-size: 15px;
    padding: 0px 10px;
  }
}
